# Indexing: Access any item in sequence using its index. ( Always starts with 0)

In [4]:
#strings
x = 'frog'

print(x[3])

#list
x = ['dog', 'cow', 'horse']
print(x[1])

#tuple
x = ('Anmol', 'Aashu', 'Mahi', 'Kohli')
print(x[0])

g
cow
Anmol

# Slicing: slice out substrings, sublists, subtuples using indexes
[start:end+1:step]

In [12]:
x = 'Computers'
print(x[1:4])
print(x[0:6:3])
print(x[3::2])
print(x[1:])
print(x[-3:])
print(x[:-6])

omp
Cp
ptr
omputers
ers
Com

# Adding / Concatenating: combine 2 sequence of same type by +

In [20]:
#strings

x = 'Anmol' + 'MSD'
print(x)

#list 
x = ['MSD', 'Raina', 'Jaddu']+['Cristiano', 'Dybala']
print(x)

#tuple 
x = ('Real Madrid', 'CSk') + ('Juventus',)
print(x)

AnmolMSD
['MSD', 'Raina', 'Jaddu', 'Cristiano', 'Dybala']
('Real Madrid', 'CSk', 'Juventus')

# multiplying: multiplying a sequence using *

In [24]:
#string 
x = 'Anmol' * 3
print(x)

#lists
x = ['7', '12', '6'] * 2 
print(x)

#tuple
x = ('Mahi', 'CSk') *4
print(x)

AnmolAnmolAnmol
['7', '12', '6', '7', '12', '6']
('Mahi', 'CSk', 'Mahi', 'CSk', 'Mahi', 'CSk', 'Mahi', 'CSk')

# checking membership: test whether an item  is or is not in a sequence.

In [29]:
#string 
x = 'Anmol'
print('n' in x)

#lists
x = ['MSD', 'Chennai', 'India']
print('MSD' not in x)

#tuple
x = ('Anmol', 'Pal')
print('Anmol' in x)

True
False
True

# iterating: iterating through the items in a sequence

In [39]:
#items 
x = [1, 2, 3]
for item in x:
    print(item)
    
#index and item
y = ['a', 'b', 'c']
for index, item in enumerate(y):
    print(index, item)

1
2
3
0 a
1 b
2 c

# number of items: count the number of items in a sequence

In [44]:
#strings
x = 'Anmol'
print(len(x))

#lists
y = ['Anmol', 'Pal', 'Anmol', 'Pal']
print(len(y))

#tuple
z = ('MSD', 'CR7')
print(len(z))

5
4
2

# minimum: find the minimum item in a sequence lexicographically. Alpha or numeric types but not mix types

In [46]:
#strings
x = 'Anmol'
print(min(x))

#lists
y = ['Anmol', 'Pal', 'Anmol', 'Pal']
print(min(y))

#tuple
z = ('MSD', 'CR7')
print(min(z))

A
Anmol
CR7

# maximum: find the maximum item in a sequence lexicographically. Alpha or numeric types but not mix types

In [47]:
#strings
x = 'Anmol'
print(max(x))

#lists
y = ['Anmol', 'Pal', 'Anmol', 'Pal']
print(max(y))

#tuple
z = ('MSD', 'CR7')
print(max(z))

o
Pal
MSD

# sum: find the sum of items in a sequence. Entire sequence must be numeric.

In [51]:
#string --> ERROR
# x = [1, 2, 'Anmol'] --> ERROR

#lists

x = [1, 2 ,3 ,4]
print(sum(x))
print(sum(x[-2:]))

#tuple
y = (1,2,3,5)
print(sum(y))

10
7
11