# Indexing: Access any item in sequence using its index. ( Always starts with 0)

In [4]:
#strings
x = 'frog'

print(x[3])

#list
x = ['dog', 'cow', 'horse']
print(x[1])

#tuple
x = ('Anmol', 'Aashu', 'Mahi', 'Kohli')
print(x[0])

g
cow
Anmol

# Slicing: slice out substrings, sublists, subtuples using indexes
[start:end+1:step]

In [12]:
x = 'Computers'
print(x[1:4])
print(x[0:6:3])
print(x[3::2])
print(x[1:])
print(x[-3:])
print(x[:-6])

omp
Cp
ptr
omputers
ers
Com

# Adding / Concatenating: combine 2 sequence of same type by +

In [20]:
#strings

x = 'Anmol' + 'MSD'
print(x)

#list 
x = ['MSD', 'Raina', 'Jaddu']+['Cristiano', 'Dybala']
print(x)

#tuple 
x = ('Real Madrid', 'CSk') + ('Juventus',)
print(x)

AnmolMSD
['MSD', 'Raina', 'Jaddu', 'Cristiano', 'Dybala']
('Real Madrid', 'CSk', 'Juventus')

# multiplying: multiplying a sequence using *

In [24]:
#string 
x = 'Anmol' * 3
print(x)

#lists
x = ['7', '12', '6'] * 2 
print(x)

#tuple
x = ('Mahi', 'CSk') *4
print(x)

AnmolAnmolAnmol
['7', '12', '6', '7', '12', '6']
('Mahi', 'CSk', 'Mahi', 'CSk', 'Mahi', 'CSk', 'Mahi', 'CSk')

# checking membership: test whether an item  is or is not in a sequence.